@charset "utf-8";


.menu_wrap {position: fixed; top: 0; left: -100%; width: 100%; height: 100%; background: #fff; z-index: 9999; transition: 0.4s;}
.menu_wrap.active {left: 0;}
.menu_wrap_inner {width: 100%; height: 100%; padding: 20px 18px; box-sizing: border-box;}

.menu_wrap_inner h2 {margin-bottom: 25px;}
.menu_wrap_inner h2 img {width: 90px; display: block;}

.quick_menu {position: absolute; top: 20px; right: 18px; display: flex; gap: 12px;}
.quick_menu li a {display: block;}
.quick_menu li img {display: block;}

#gnb > ul {margin-top: 20px;}
#gnb > ul > li {border-bottom: 1px solid #eee; padding: 10px 0;}

#gnb > ul > li > a {display: flex; justify-content: space-between; align-items: center; font-size: 22px; font-weight: 700; color: #84A3C0; text-decoration: none; padding: 8px 0;}
#gnb > ul > li > a img {display: block;}

.submenu {display: none; padding: 10px 0 5px 0;}
.submenu li a {display: block; font-size: 18px; font-weight: 500; color: #584f4b; text-decoration: none; padding: 6px 0;}

.submenu li a:hover {color: #84A3C0;}