@charset "utf-8";

main {width: 100%;}


h2 {text-align: center; font-size: 32px;  color: #555;}

h3 {font-size: 24px; font-weight: 800; color: #555; margin-bottom: 20px;}


/* 배송지 정보 */

.delivery_info, .order {margin: 10px 20px; }

.btn_delivery {width: 100%; height: 55px; border-radius: 8px; border: none; background-color: #84a3c0; color: #fff; font-weight: bold; font-size: 18px; cursor: pointer; }

.btn_delivery:hover {background-color: #7796b1;}

.line {width: 100%; overflow: hidden;}



/* 주문 상품 */

.order_top {display: flex; justify-content: space-between; align-items: center;}

.btn_cupon {font-size: 14px; font-weight: bold; color: #555; padding: 5px 10px; border-color: #555; border-radius: 5px; background-color: #fff; cursor: pointer; }

.order_item {display: flex; gap: 10px; margin-bottom: 20px;}

.order_info {color: #555;}

.order_name, .order_price {font-size: 16px; font-weight: 700;}
.order_option {font-size: 14px; font-weight: 600;}

.order_total_bar {background-color: #84a3c0; border-radius: 5px; text-align: center; padding: 8px; color: #fff; font-size: 15px;}




/* 결제 수단 */

.pay_method {margin: 30px 20px;}

.payment_group {color: #555; font-size: 20px; font-weight: 600; margin-bottom: 15px;}

.payment_group > label {font-weight: 700;}

.payment_buttons {display: flex; gap: 10px; margin: 10px 0px; }

.pay_btn {border: 1px solid #555; border-radius: 5px; font-size: 16px; font-weight: 600; color: #333; display: flex; align-items: center; justify-content: center; height: 44px; flex: 1; cursor: pointer; }

.payment_buttons input:checked + .pay_btn
{ border-color: #84a3c0; box-shadow: 0 0 0 2px rgba(132, 163, 192, 0.3);}

.easy_pay {display: flex; flex-wrap: wrap; gap: 10px; margin: 10px 0;}

.pay_logo { width: calc(33.333% - 7px); height: 44px; display: flex; align-items: center; justify-content: center; border: 1px solid #bbb; border-radius: 6px; background: #fff; cursor: pointer; box-sizing: border-box;}

.pay_logo:hover { background-color: #f7f9fb;}

.pay_logo img { max-width: 80%; max-height: 60%; object-fit: contain;}

.easy_pay input:checked + .pay_logo 
{ border-color: #84a3c0; box-shadow: 0 0 0 2px rgba(132, 163, 192, 0.3);}

.payment_buttons input, .easy_pay input {display: none;}

.payment_buttons,.easy_pay {display: none;}

.payment_group.active .payment_buttons,
.payment_group.active .easy_pay 
{display: flex;}

.btn_pay { position: sticky; bottom: 0; width: 100%;height: 60px; background-color: #84a3c0; color: #fff; font-size: 18px; font-weight: bold; border: none; cursor: pointer; margin-top: 30px; z-index: 999;}

.save_pay {color: #555;}




/* 결제 예정 금액 */
.payment_summary {margin: 0 20px;}
.summary_list { margin-top: 20px;}
.summary_group { margin-bottom: 16px;}
.summary_title {font-size: 18px; font-weight: 700; margin-bottom: 8px; color: #555;}
.summary_item { display: flex; justify-content: space-between; font-size: 15px; color: #555; margin-bottom: 6px;}
.summary_price { font-weight: 700;}
.summary_price.discount { color: #f00;}


/* 약관 동의 */
.agreement {margin: 0 20px; padding-top: 20px; }

.agreement input {margin: 8px;}

.agreement label {display: block; text-align: center; font-size: 14px;}

.agreement label:first-of-type {padding: 10px;}





